<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<link href="css/style.css" rel="stylesheet" type="text/css">
<meta charset="ISO-8859-1">
<title>Libros</title>
</head>
<body>
	<h1 class="bg-dark">Listado de Libros</h1>
	<table class="table">
		<thead>
			<th scope="col">Titulo</th>
			<th scope="col">Autor</th>
			<th scope="col">ISBN</th>
			<th scope="col">Categoria</th>
			<th scope="col">Fecha de ingreso</th>
		</thead>
		<th:block th:each="libro, row: ${libros}">
		<tr>
			<td th:text="${libro.sTitulo}"/>
			<td th:text="${libro.sAutor}"/>
			<td th:text="${libro.isbn}"/>
			<td th:text="${libro.cat_categoria.sCategoria}"/>
			<td th:text="${libro.fIngreso}"/>
		</tr>
		</th:block>	
	</table>
	<br>
</body>
</html>